<div class="container-fluid">
    <div class="h-50 p-3 card text-center">
        <div class="card-header">
            <h1 class="card-title display-4">CAIXA 🛒</h1>
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate>
                <div class="row align-items-center">
                    <div class="col-md-6 mb-3">
                        <input type="tel" class="form-control form-control-lg" placeholder="Numero Pedido"
                            id="numeroInput" autocomplete="off" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <input type="tel" class="form-control form-control-lg" placeholder="Quantidade"
                            id="quantidadeInput" autocomplete="off" value=1 required>
                    </div>
                    <div class="col-md-12 mb-3">
                        <div class="form-floating">
                            <textarea type="text" class="form-control" style="height: 100px" id="descricaoInput"
                                autocomplete="off"> </textarea>
                            <label for="descricaoInput">Descrição do Pedido</label>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center">
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input class="btn-check form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault1" value="true">
                        <label class="btn btn-outline-success" for="flexRadioDefault1">
                            <h1 class="display-5">Viagem</h1>
                        </label>
                        <input class="btn-check form-check-input" type="radio" name="flexRadioDefault"
                            id="flexRadioDefault2" value="false" checked>
                        <label class="btn btn-outline-success" for="flexRadioDefault2">
                            <h1 class="display-5">Comer Aqui</h1>
                        </label>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <input type="checkbox" class="btn-check" id="checkPrefencial" autocomplete="off">
                        <label class="btn btn-outline-primary" for="checkPrefencial">
                            <h1 class="display-5">Preferêncial</h1>
                        </label>

                        <input type="checkbox" class="btn-check" id="checkRefeicao" autocomplete="off">
                        <label class="btn btn-outline-primary" for="checkRefeicao">
                            <h1 class="display-5">Vale Refeição</h1>
                    </div>
                </div>
                <div class="mt-auto p-2 row align-items-center">
                    <button class="btn btn-lg btn-block btn-primary" type="submit">
                        <h1 class="display-5">ENVIAR</h1>
                    </button>
                </div>
            </form>
        </div>
        <div class="card-footer text-muted">
            <div class="mb-3">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="fs-1 text-center bg-secondary text-white">🐙 Preparando</div>
                    </div>
                    <div class="col-sm-12">
                        <div class="row row-gap-3" id="pedido">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const socket = io();
    socket.on('connection', data => load());
    socket.on('all', data => load());
    (function () {
        var forms = document.querySelectorAll('.needs-validation')
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    } else {
                        let numero = parseInt($('#numeroInput').val());
                        let viagem = document.querySelector('.form-check-input').checked;
                        let descricao = $('#descricaoInput').val();
                        let quantidade = parseInt($('#quantidadeInput').val());
                        let preferencial = $('#checkPrefencial').is(":checked");
                        let refeicao = $('#checkRefeicao').is(":checked");
                        sendPedido({ numero, viagem, descricao, quantidade, preferencial, refeicao })
                    }
                    form.classList.add('was-validated')
                }, false)
            })
    })()
    async function update(action, pedido) {
        $.ajax({
            url: `/pedido/${action}`,
            processData: false,
            type: 'PUT',
            data: JSON.stringify({ numero: pedido }),
            processData: false,
            contentType: 'application/json',
        })
    }
    async function load() {
        const pedidos = await fetchPedidos();
        loadPedidos(pedidos.preparando);
    }

    function loadPedidos(pedido, tipo) {
        $(`#pedido`).children().remove();
        if (pedido.length == 0) {
            $(`#pedido`).append(`<div class="col-sm-6"></div>`);
        } else {
            for (let i = 0; i < pedido.length; i++) {
                let str = "";
                const viagem = parseViagem(pedido[i]);
                str += `<div class="col-sm-3 fs-2 text-center">
                            ${viagem}
                        </div>
                        <div class="col-sm-2 fs-2 text-center">${pedido[i].descricao}</div>
                        <div class="col-sm-3 fs-1 text-center">${parseNumero(pedido[i])}</div>
                        <button type="button" onclick="update('cancelar','${pedido[i].numero}')"
                            class="col-sm-2 mb-2 btn btn-warning">Cancelar</button>`
                $(`#pedido`).append(` ${str}`);
            }
        }
    }
</script>