<div class="modal top fade" id="pedidoModal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content bg-warning">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Pedido Pronto</h1>
            </div>
            <div class="modal-body" id="modalMessage">
            </div>
        </div>
    </div>
</div>
<div class="modal" id="takoyakiSan" data-bs-backdrop="false">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body" id="takoyakiMessage">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="fs-1 text-start bg-secondary text-white">🐙 Preparando</div>
    </div>
    <div class="col-sm-6">
        <div class="fs-1 text-start bg-danger text-white">😋 Pronto</div>
    </div>
</div>
<div class="row" id="pedidos">
</div>
<script>
    const socket = io();
    let localDate = new Date();
    socket.on('connection', e => load());
    socket.on('all', e => load());
    socket.on('pedido', e => {
        let min = Math.ceil(1);
        let max = Math.floor(4);
        const r = Math.floor(Math.random() * (max - min) + min);
        const message = `<div class="alert alert-light} alert-dismissible" role="alert">
                        <img src="/takoyakisan/${r}.png" class="rounded mx-auto d-block" alt="takoyaki baw">`;
        $(`#takoyakiMessage`).children().remove();
        $('#takoyakiMessage').append(`
        <img src="/takoyakisan/${r}.png" class="rounded mx-auto d-block" alt="takoyaki baw">
        `);
        $('#takoyakiSan').modal('show');
        setTimeout(() => { $('#takoyakiSan').modal('hide'); }, 2000);
    })
    socket.on('pronto', data => {
        let numero = parseNumero(data);
        $(`#modalMessage`).children().remove();
        $('#modalMessage').append(`
        <div class="text-center" style="font-size:15vw;">${numero}</div>
        <img src="/takoyakisan/arigatou.png" class="rounded mx-auto d-block" alt="takoyaki baw">
        `);
        $('#pedidoModal').modal('show');
        setTimeout(() => { $('#pedidoModal').modal('hide'); }, 5000);
    });
    async function load() {
        const pedidos = await fetchPedidos();
        $(`#pedidos`).children().remove();
        loadPedidos(pedidos.preparando);
        loadPedidos(pedidos.pronto);
    }

    function loadPedidos(pedido) {
        const numRow = 6;
        if (pedido.length == 0) {
            $("#pedidos").append(`<div class="col-sm-6"></div>`);
        } else {
            const smPedido = Math.max(Math.floor(6 / Math.ceil(pedido.length / numRow)), 2);
            const colNumber = Math.min(Math.ceil(pedido.length / numRow), 3);
            for (let i = 0; i < colNumber; i++) {
                let size = i + 1 == colNumber ? pedido.length : (i + 1) * numRow;
                let str = "";
                for (let j = i * numRow; j < size; j++) {
                    const viagem = parseViagem(pedido[j]);
                    let numero = parseNumero(pedido[j])
                    str += `<div class="h1 text-start ">${viagem} ${numero}</div>`
                }
                $("#pedidos").append(`<div class="col-sm-${smPedido}">${str}</div>`);
            }
        }

    }
</script>