<!DOCTYPE html>
<html>

<head>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/socket/socket.io.min.js"></script>
    <script src="/jquery-3.7.0.min.js"></script>
    <meta charset="utf-8" />
    <title>painel</title>
</head>

<body>
    <div class="modal top fade" id="pedidoModal">
        <div class="modal-dialog modal-fullscreen-xxl-down modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Pedido Pronto</h1>
                </div>
                <div class="modal-body" id="modalMessage">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="fs-1 text-start bg-secondary text-white">🐙 Preparando</div>
        </div>
        <div class="col-sm-6">
            <div class="fs-1 text-start bg-danger text-white">😋 Pronto</div>
        </div>
    </div>
    <div class="row" id="pedidos">
    </div>
    <!-- Modal -->
</body>
<script>
    const socket = io('http://localhost:3000');
    let localDate = new Date();
    socket.on('connection', e => load());
    socket.on('all', e => load());
    socket.on('pronto', data => {
        let pedido = data.quantidade > 1 ? `${data.numero} - ${data.numero + data.quantidade - 1}` : `${data.numero}`
        $(`#modalMessage`).children().remove();
        $('#modalMessage').append(`<div class="text-center fs-1">${pedido}</div>`);
        $('#pedidoModal').modal('show');
        setTimeout(() => { $('#pedidoModal').modal('hide'); }, 5000);
    });

    function load() {
        $.ajax({
            url: `/pedidos`,
            type: 'GET',
            contentType: 'application/json',
            success: function (data) {
                $(`#pedidos`).children().remove();
                loadPedidos(data.preparando);
                loadPedidos(data.pronto);
            },
        })
    }

    function loadPedidos(pedido) {
        const numRow = 6;
        if (pedido.length == 0) {
            $("#pedidos").append(`<div class="col-sm-6"></div>`);
        } else {
            const smPedido = Math.max(Math.floor(6 / Math.ceil(pedido.length / numRow)), 2);
            const colNumber = Math.min(Math.ceil(pedido.length / numRow), 3);
            console.log(colNumber)
            for (let i = 0; i < colNumber; i++) {
                let size = i + 1 == colNumber ? pedido.length : (i + 1) * numRow;
                let str = "";
                for (let j = i * numRow; j < size; j++) {
                    const viagem = pedido[j].viagem ? "🚗" : "🍽️";
                    let numero = pedido[j].quantidade > 1 ? `${pedido[j].numero} - ${pedido[j].numero + pedido[j].quantidade -1}` : `${pedido[j].numero}`
                    str += `<div class="h1 text-start">${viagem} ${numero}</div>`
                }
                $("#pedidos").append(`<div class="col-sm-${smPedido}">${str}</div>`);
            }
        }

    }
</script>

</html>